language: scala

scala:
  - 2.11.12
  - 2.12.8
  - 2.13.1

jdk:
  - openjdk8

branches:
  only:
    - master

cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt/boot
    - $HOME/.coursier
